@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif|Open+Sans+Condensed:300|Teko|Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css?family=News+Cycle&display=swap');

/* Overall */
body {
  color: rgb(38, 38, 38);
  font-family: serif;
}

header, main, footer {
  margin: auto;
  width: 750px;
}

/* Header */
header {
  color: #262626;
  height: 60px;
  margin-bottom: 20px;
  padding: 35px 0;
}

header img, header section, header nav {
  display: inline-block;
}

header > img {
  margin-right: 7px;
}

header nav {
  float: right;
  padding: 13px 0;
}

h2 {
  font-family: 'Yellowtail', cursive;
  font-size: 2.4em;
}

h6 {
  color: rgb(135, 135, 135);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: .8em;
  margin-left: 5px;
}

header li {
  display: inline-block;
  list-style-type: none;
}

header li:nth-child(6) {
  margin-right: 12px;
}

/* Main Section */
h1 {
  color: rgb(38, 38, 38);
  font-family: 'Teko', sans-serif;
  font-size: 3.3em;
  font-weight: bold;
}

h5 {
  color: rgb(135, 135, 135);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  margin-bottom: 27px;
}

#print-icon {
  float: right;
}

#pizza-image {
  width: 100%;
  margin-bottom: 40px;
}

#directions {
  width: 100%;
  font-family: 'IBM Plex Serif', serif;
  font-weight: light;
  line-height: 1.6;
  margin-bottom: 40px;
  /* text-indent: 50px; */
}

/* Recipe card */
#lined-paper-img {
  width: 100%;
}

#recipe-text {
  font-family: sans-serif;
  column-count: 2;
  font-size: 1.1em;
  width: 90%;
  margin-left: 3em;
  overflow: hidden;
}

#recipe-text input[type=checkbox] {
  vertical-align: middle;
}

input:checked + span {
  text-decoration: line-through;
  color: purple;
}

/* Footer */
footer {
  margin-top: 40px;
}

#vanessa-img {
  float: left;
  margin-right: 10px;
}

#footer-text {
  /* border: solid green 1px; */
  float: right;
  display: inline;
  position: absolute;
  width: 60%;
}

button {
  background-color: #BC7060;
  font-family: 'News Cycle', sans-serif;
  font-weight: light;
  color: white;
  font-size: 1em;
  width: 150px;
  height: 45px;
  float: right;
}

#footer-rights{

}

h3 {
  /* color: rgb(135, 135, 135); */
  font-family: 'IBM Plex Serif', serif;
  font-size: 1.2em;
  margin: 0 0 10px 0;
  /* display: inline; */
  /* font-weight: bold; */
}

p {
  font-size: .95em;
  display: inline;
  margin: 0 0 10px;

}