@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif|Open+Sans+Condensed:300|Teko|Yellowtail&display=swap');

/* Overall */
body {
  color: rgb(38, 38, 38);
  font-family: serif;
}

header, main, footer {
  margin: auto;
  width: 750px;
}

/* Header */
header {
  color: #262626;
  height: 60px;
  margin-bottom: 20px;
  padding: 35px 0;
}

header img, header section, header nav {
  display: inline-block;
}

header > img {
  margin-right: 7px;
}

header nav {
  float: right;
  padding: 13px 0;
}

h2 {
  font-family: 'Yellowtail', cursive;
  font-size: 2.4em;
}

h6 {
  color: rgb(135, 135, 135);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: .8em;
  margin-left: 5px;
}

header li {
  display: inline-block;
  list-style-type: none;
}

header li:nth-child(6) {
  margin-right: 12px;
}

/* Main Section */
h1 {
  color: rgb(38, 38, 38);
  font-family: 'Teko', sans-serif;
  font-size: 3.3em;
  font-weight: bold;
}

h5 {
  color: rgb(135, 135, 135);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  margin-bottom: 27px;
}

#print-icon {
  float: right;
}

#pizza-image {
  width: 100%;
  margin-bottom: 40px;
}

p {
  width: 100%;
  font-family: 'IBM Plex Serif', serif;
  font-weight: light;
  line-height: 1.6;
  margin-bottom: 40px;
}

/* Recipe card */
#lined-paper-img {
  width: 100%;
}

#recipe-text {
  font-family: sans-serif;
  column-count: 2;
  font-size: 1.1em;
  width: 90%;
  margin-left: 3em;
  overflow: hidden;
}

#recipe-text input[type=checkbox] {
  vertical-align: middle;
}

input:checked + span {
  text-decoration: line-through;
  color: purple;
}

/* Footer */

/* footer {
  color: rgb(38, 38, 38);
  margin-top: 3em;
  position: relative;
  text-align: center;
} */

/* footer img {
  border-left: 1em solid white;
  border-right: 1em solid white;
  margin-bottom: 1.5em;
} */

/* footer:before {
  border-top: 1px solid #cccccc;
  content: "";
  width: 100%;
  position: absolute;
  top: 15px;
  left: 0px;
  z-index: -1; 
} */

/* Card and deck layouts */
/* section.deck {
  margin: 1em 0;
  overflow: hidden;
  width: 100%;
} */

/* .deck.col-1 .card {
  width: 100%;
} */

/* .card .copy p {
  font-family: serif;
  font-size: 1.25em;
  margin: 13em 0;
  text-indent: 2em;
} */

/* Cards lined horizontally */
/* .card.horizontal-content {
  overflow: hidden;
} */

/* .card.horizontal-content figure {
  float: left;
} */

/* .card.horizontal-content .links {
  float: right;
} */

/* .card.horizontal-content .copy {
  float: left;
  font-size: 1.1em;
  padding: 0 2em;
  width: calc(100% - 150px - 75px);
} */

/* Cards using their "img" as background */
/* .card.bgimage {
  position: relative;
} */

/* .card.bgimage figure {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
} */