*{

}
h2{
  font-family: cursive;
  display:inline;
  padding: 0px;
}
#title{
  color: gray;
  font-family: sans-serif;
  padding:0px;
}
#header-block{
  display: inline-block;
  line-height: 0px;
}
nav li{
  display:inline-block;
  float: right;
}
header{
  max-width: 901px;
}
#printer-image{
  display: inline-block;
  float: right;
}
main{
  max-width: 901px;
}
body{
  max-width: 800px;
}
#main-paragraph{
  text-indent: 2em;
}
#column-1{
  position: absolute;
  top: 1100px;
  left: 100px;
  list-style-type: square;
}
#column-2{
  position: absolute;
  top: 1100px;
  left: 500px;
  list-style-type: square;
}
button{
  width: 100px;
  background: #AA3C30;
}

